<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://funcwithdb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ad4c7e45-f2cf-4591-a96d-abfd62199398/resourcegroups/gabrielsene/providers/Microsoft.Web/sites/funcWithDB</ResourceId>
    <UserName>$funcWithDB</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://funcwithdb.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>